<!DOCTYPE html>
<html lang="en">
<head>
    <title>twitter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    <style>
        span{font-size: small;}
        a{color: black;}
    </style>

</head>
<body>
<nav style="float: left;height: 100%;width: 10%;background: lightgray;padding: 10px;">
    <ul>
        {% if user.is_authenticated%}
        <li>
            <a href="/home/">home</a>
        </li>
        <li>
            <a href="/{{user}}/">profile</a>
        </li>
        <li>
            <a href="/create_tweet/">tweet</a>
        </li>

        <li>
            <a href="{% url 'logout' %}">Logout</a>
        </li>


        {% else %}
        <li>
            <a href="{% url 'login' %}">login</a>
        </li>
        <li>
            <a href="{% url 'signup' %}">sign up</a>
        </li>
        {% endif %}
    </ul>
</nav>

<div style="float: left;width: 90%;padding: 10px;">
{% block content %}
{% endblock %}
</div>

</body>
</html>