{% extends "index.html" %}
{% block content %}
<div style="width: fit-content">
    <h1>HOME</h1>



    <ul>
        {% if object_list %}
            {% for twt in object_list %}

                <li style="padding: 10px;margin-bottom: 10px;">
                    <a href="{{twt.username}}/tweet/{{twt.id}}/">

                        <div>
                            <!--show tweet based on liked by others-->
                            {% if twt.liked_by %}
                                <p style="font-size: small;font-style: italic;">we are showing you this tweet because its liked by
                                    <a href="/{{twt.liked_by}}/">{{ twt.liked_by }}</a>
                                </p>
                            {% endif %}
                            <!--is this a retweet? -->
                            {% if twt.retweet_by %}
                                {% if twt.retweet_by == request.user %}
                                    <p style="font-size: small;font-style: italic;">
                                        <a href="/{{twt.retweet_by}}/">you</a> retweeted
                                    </p>
                                {% else %}
                                    <p style="font-size: small;font-style: italic;">
                                        <a href="/{{twt.retweet_by}}/">{{ twt.retweet_by }}</a> retweeted
                                    </p>
                                {% endif %}
                            {% endif %}
                            <!--tweet author info-->
                            <h4><a href="/{{twt.username}}/">{{ twt.username }}</a></h4>

                            <!--follow button-->
                            {% if user.username != twt.username %}
                                {% if twt.status %}
                                <a href="/{{twt.username}}/unfollow/">{{ twt.status }}</a>
                                {% else  %}
                                <a href="/{{twt.username}}/follow/">follow</a>
                                {%endif%}
                            {%endif%}

                            <span>{{ twt.created_at }}</span><br/><br/>
                            <p>{{ twt.text }}</p>

                            <div>
                            <!--buttons-->
                                <span>
                                    <!--have i liked this tweet?-->
                                    {% if twt.like_check ==  True %}
                                        <a href="/like/{{twt.id}}/" style="color:red;margin-right: 15px;">
                                            <i class="bi bi-heart-fill"></i>
                                            {{ twt.likecount }}
                                        </a>
                                    {% else %}
                                        <a href="/like/{{twt.id}}/" style="margin-right: 15px;">
                                            <i class="bi bi-heart"></i>
                                            {{ twt.likecount }}
                                        </a>
                                    {% endif %}

                                <span>
                                    <a href="/create_reply/{{twt.id}}" style="margin-right: 15px;">
                                        comments: {{ twt.commentcount }}
                                    </a>
                                </span>

                                <span>
                                    <a href="/create_quote/{{twt.id}}" style="margin-right: 15px;">
                                        retweets: {{ twt.retweetcount }}
                                    </a>
                                </span>
                            </div>

                        </div>
                        <!--is this a reply?-->
                        {% if twt.reply %}
                            <div style="border: 3px solid red;padding: 10px;margin: 10px;">
                                <p style="font-size: small;">{{ twt.username }} replying to {{ twt.reply.username }}</p>
                                <h4>{{ twt.reply.username }}</h4>
                                <span>{{ twt.reply.created_at }}</span>
                                <p>{{ twt.reply.text }}</p>
                            </div>
                        {% endif %}

                        <!--is this a quote?-->
                        {% if twt.quote %}
                            <div style="border: 3px solid green;padding: 10px;margin: 10px;">
                                <p style="font-size: small;">{{ twt.username }} quoting {{ twt.quote.username }}</p>
                                <h4>{{ twt.quote.username }}</h4>
                                <span>{{ twt.quote.created_at }}</span>
                                <p>{{ twt.quote.text }}</p>

                                <div>
                                    <span><i class="bi bi-heart-fill"></i>{{ twt.likecount }}</span>
                                    <span>comments: {{ twt.commentcount }}</span>
                                    <span>retweetts: {{ twt.retweetcount }}</span>
                                </div>
                            </div>
                        {% endif %}
                    </a>
                </li>
        <hr>
            {% endfor %}

        {% else %}
            <li>
                <h2>you need to follow people asap</h2>
            </li>
        {% endif %}

    </ul>
</div>
{% endblock %}