{% extends "index.html" %}
{% block content %}
<ul>
    {% for q in quotes %}
        <li style="border: 3px solid grey;padding: 10px;margin-bottom: 10px;">

            <a href="{{q.user}}/tweet/{{q.id}}/">

                <div>
                    <h4><a href="/{{q.user}}/">{{ q.user }}</a></h4>
                    <span>{{ q.created_at }}</span><br/><br/>
                    <p>{{ q.text }}</p>
                </div>

            </a>

                {% if q.is_quote %}
                    <div style="border: 3px solid green;padding: 10px;margin: 10px;">
                        <h4>{{ q.quote_to_tweet.user }}</h4>
                        <span>{{ q.quote_to_tweet.created_at }}</span>
                        <p>{{ q.quote_to_tweet.text }}</p>
                    </div>
                {% endif %}
        </li>
    {% endfor %}
</ul>

{% endblock %}
